@page "/studentrecord"
@using StudentCrud.Models.Model
@inject StudentCrud.Services.Service.StudentService _studentService
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .delete-icon {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        font: inherit;
        color: inherit;
    }
</style>

<NavLink class="nav-link" href="addstudentrecord">
    <span class="oi oi-plus" aria-hidden="true">Add New Student</span>
</NavLink>

<h1>Student List</h1>

@if (EmpObj is null)
{
    <p><em>Loading List...</em></p>
}
else
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in EmpObj)
            {
                <tr>
                    <td>@student.FullName</td>
                    <td>@student.UserName</td>
                    <td>@student.UserEmail</td>
                    <td>@student.Phone</td>
                    <td>

                        <a href="deletestudent/@student.Id"> <i class="fas fa-trash-alt text-danger"></i></a>

                        <a href="editstudent/@student.Id"> <i class="fas fa-edit text-success"></i></a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


